{% extends 'base.html' %}

{% block content %}
{% if not cart %}
    <h3>你的購物車目前是空的</h3>
{% else %}

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">產品名稱</th>
            <th scope="col">單價</th>
            <th scope="col">數量</th>
            <th scope="col">金額</th>
          </tr>
        </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.total_price }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>總金額： {{ cart.get_total_price }}</td>
                </tr>
            </tbody>

    </table>
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <button type="submit">送出結單</button>
    </form>
{% endif %}
{% endblock %}